<h1>Edit Article</h1>

<%= form_for(@article) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.label :categories %>
    <%= f.select(:categories, Category.all.collect {|p| [ p.name, p.id ] }, 
                                           { :prompt => "Please select"}, 
                                           { :multiple => true, :size => 5 }) %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', articles_path %>
</p>
